<p id="notice"><%= notice %></p>

<h1>Listing Inventories</h1>

<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Position</th>
      <th>Part</th>
      <th>Part type</th>
      <th>Check qty</th>
      <th>Check user</th>
      <th>Check time</th>
      <th>Random check qty</th>
      <th>Random check user</th>
      <th>Random check time</th>
      <th>Is random check</th>
      <th>Ios created</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @inventories.each do |inventory| %>
      <tr>
        <td><%= inventory.department %></td>
        <td><%= inventory.position %></td>
        <td><%= inventory.part %></td>
        <td><%= inventory.part_type %></td>
        <td><%= inventory.check_qty %></td>
        <td><%= inventory.check_user %></td>
        <td><%= inventory.check_time %></td>
        <td><%= inventory.random_check_qty %></td>
        <td><%= inventory.random_check_user %></td>
        <td><%= inventory.random_check_time %></td>
        <td><%= inventory.is_random_check %></td>
        <td><%= inventory.ios_created_id %></td>
        <td><%= link_to 'Show', inventory %></td>
        <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
        <td><%= link_to 'Destroy', inventory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Inventory', new_inventory_path %>
