<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @inventory_file.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @inventory_file.path %>
</p>

<p>
  <strong>Size:</strong>
  <%= @inventory_file.size %>
</p>

<%= link_to 'Edit', edit_inventory_file_path(@inventory_file) %> |
<%= link_to 'Back', inventory_files_path %>
