<h3>盘点统计</h3>
<div>
  <table class="table table-hover table-striped  table-bordered">
    <thead style="background-color:#1a8bc8;font-size:16px;">
    <tr class="border">
      <th class="border" style="border-right: grey solid 2px;">
        部门\统计项
      </th>
      <th style="border-right:grey solid 2px;">
        共计盘点项
      </th>
      <th colspan='2' style="border-right:grey solid 2px;">
        原有盘点项
      </th>
      <th colspan='2' style="border-right:grey solid 2px;">
        新建盘点项
      </th>
      <th colspan='2' style="border-right:grey solid 2px;">
        已全盘
      </th>
      <th colspan='2' style="border-right:grey solid 2px;">
        未全盘
      </th>
      <th colspan='2' style="border-right:grey solid 2px;">
        抽盘量
      </th>
      <th colspan='2' style="border-right:grey solid 2px;">
        已抽盘
      </th>
      <th colspan='2' style="border-right:grey solid 2px;">
        未抽盘
      </th>
      <th colspan='2' style="border-right:grey solid 2px;">
        抽盘修正
      </th>
    </tr>
    </thead>
    <tbody>
    <% @data.each do |data| %>
        <tr>
          <td class="department  number size <%= 'bold' if data[:department]=='总计' %>" style="border-right:grey solid 2px;">
            <%= data[:department] %>
          </td>
          <td class='department' style="border-right:grey solid 2px;">
            <%= data[:total_inven] %>
          </td>
          <td class='inven  number'>
            <%= data[:origin_inven] %>
          </td>
          <td class='inven percent' style="border-right:grey solid 2px;">
            <%= data[:origin_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:new_inven] %>
          </td>
          <td class='inven  percent' style="border-right:grey solid 2px;">
            <%= data[:new_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:check_inven] %>
          </td>
          <td class='inven  percent' style="border-right:grey solid 2px;">
            <%= data[:check_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:not_check_inven] %>
          </td>
          <td class='inven  percent' style="border-right:grey solid 2px;">
            <%= data[:not_check_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:random_total_inven] %>
          </td>
          <td class='inven  percent' style="border-right:grey solid 2px;">
            <%= data[:random_total_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:random_check_inven] %>
          </td>
          <td class='inven  percent' style="border-right:grey solid 2px;">
            <%= data[:random_check_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:random_not_check_inven] %>
          </td>
          <td class='inven  percent' style="border-right:grey solid 2px;">
            <%= data[:random_not_check_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:changed_check_inven] %>
          </td>
          <td class='inven  percent'  style="border-right:grey solid 2px;">
            <%= data[:changed_check_inven_percent] %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">
    $(function () {
        $.each($('.percent'), function () {
            if ($.trim($(this).text()) == '100.0%' || $.trim($(this).text()) == '100%') {
                $(this).text('100%');
                $(this).css('color', 'green');
                $(this).css('font-weight', 'bolder');
            } else if ($.trim($(this).text()) == '0.0%' || $.trim($(this).text()) == '0%') {
                $(this).text('0');
            }
        });
    });
</script>
