<style>
    .table > thead > tr > th {
        color: white;
        /*border-right: deepskyblue solid 2px;*/
    }

    .table > tbody > tr > td:nth-child(even), .table > tbody > tr > td:first-child {
        border-right: deepskyblue solid 2px;
    }

    .table > tbody > tr > td:last-child {
        border: none;
    }
</style>

<ol class="breadcrumb">
  <li><span>Inventory System</span></li>
  <li><span>盘点统计</span></li>
</ol>

<div>
  <table class="table table-striped  table-bordered">
    <thead style="background-color:#1a8bc8;font-size:16px;">
    <tr class="border">
      <th class="border">
        部门\统计项
      </th>
      <th>
        共计盘点项
      </th>
      <th colspan='2'>
        原有盘点项
      </th>
      <th colspan='2'>
        新建盘点项
      </th>
      <th colspan='2'>
        已全盘
      </th>
      <th colspan='2'>
        未全盘
      </th>
      <th colspan='2'>
        抽盘量
      </th>
      <th colspan='2'>
        已抽盘
      </th>
      <th colspan='2'>
        未抽盘
      </th>
      <th colspan='2'>
        抽盘修正
      </th>
    </tr>
    </thead>
    <tbody>
    <% @data.each do |data| %>
        <tr>
          <td class="department  number size <%= 'bold' if data[:department]=='总计' %>">
            <%= data[:department] %>
          </td>
          <td class='department'>
            <%= data[:total_inven] %>
          </td>
          <td class='inven  number'>
            <%= data[:origin_inven] %>
          </td>
          <td class='inven percent'>
            <%= data[:origin_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:new_inven] %>
          </td>
          <td class='inven  percent'>
            <%= data[:new_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:check_inven] %>
          </td>
          <td class='inven  percent'>
            <%= data[:check_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:not_check_inven] %>
          </td>
          <td class='inven  percent'>
            <%= data[:not_check_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:random_total_inven] %>
          </td>
          <td class='inven  percent'>
            <%= data[:random_total_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:random_check_inven] %>
          </td>
          <td class='inven  percent'>
            <%= data[:random_check_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:random_not_check_inven] %>
          </td>
          <td class='inven  percent'>
            <%= data[:random_not_check_inven_percent] %>
          </td>
          <td class='inven  number'>
            <%= data[:changed_check_inven] %>
          </td>
          <td class='inven  percent'>
            <%= data[:changed_check_inven_percent] %>
          </td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<div>
  <p>

  <h4>盘点统计项说明：
    <a name="down_template" href="/files/download?folder=inventory&file=盘点统计项说明.docx" class='btn btn-default'>盘点统计项说明.docx </a>
  </h4>
  </p>
</div>
<script type="text/javascript">
    $(function () {
        $.each($('.percent'), function () {
            if ($.trim($(this).text()) == '100.0%' || $.trim($(this).text()) == '100%') {
                $(this).text('100%');
                $(this).css('color', 'green');
                $(this).css('font-weight', 'bolder');
            } else if ($.trim($(this).text()) == '0.0%' || $.trim($(this).text()) == '0%') {
                $(this).text('0');
            }
        });
    });
</script>
