<h1>盘点统计</h1>
<hr/>
<div class="row">
  <div class="col-xs-6">
    <h3>全盘进度</h3>

    <div id="container" style="height: 400px"></div>
    <script>
        $(function () {
            // Make monochrome colors and set them as default for all pies
            Highcharts.getOptions().plotOptions.pie.colors = (function () {
                var colors = [],
                        base = Highcharts.getOptions().colors[0],
                        i;

                for (i = 0; i < <%=@check_qty_tmp_size%>-1; i += 1) {
                    // Start out with a darkened base color (negative brighten), and end
                    // up with a much brighter color
                    var color = Highcharts.Color(base).brighten((i - 3) / 7).get();
                    if (color != 'rgba(67, 67, 72,1)') {
                        colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
                    } else {
                        i -= 1;
                    }
                }
                colors.push('rgba(67, 67, 72,1)');

                return colors;
            }());

            $('#container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}({point.percentage:.1f}%)</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: "数量（占比）",
                    colorByPoint: true,
                    data: <%= @check_qty_tmp.to_json.html_safe; %>
                }]
            });
        });</script>
  </div>
  <div class="col-xs-6">
    <h3>抽盘进度</h3>

    <div id="random_container" style="height: 400px"></div>
    <script>
        $(function () {
            Highcharts.getOptions().plotOptions.pie.colors = (function () {
                var colors = [],
                        base = Highcharts.getOptions().colors[0],
                        i;

                for (i = 0; i < <%=@random_check_qty_tmp_size%>-1; i += 1) {
                    // Start out with a darkened base color (negative brighten), and end
                    // up with a much brighter color
                    var color = Highcharts.Color(base).brighten((i - 3) / 7).get();
                    if (color != 'rgba(67, 67, 72,1)') {
                        colors.push(Highcharts.Color(base).brighten((i - 3) / 7).get());
                    } else {
                        i -= 1;
                    }
                }
                colors.push('rgba(67, 67, 72,1)');

                return colors;
            }());

            $('#random_container').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}({point.percentage:.1f}%)</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: "Brands",
                    colorByPoint: true,
                    data: <%= @random_check_qty_tmp.to_json.html_safe; %>
                }]
            });
        });</script>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h3>每小时全盘数据量统计</h3>
    <%= column_chart @check_qty_hour_progress %>
  </div>
  <div class="col-xs-6">
    <h3>每小时抽盘盘数据量统计</h3>
    <%= column_chart @random_check_qty_hour_progress %>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <h3>库位统计</h3>
    <%= pie_chart({"新建库位" => Inventory.position_client.count, "原有库位" => Inventory.position_unclient.count}) %>
  </div>
</div>