<p id="notice"><%= notice %></p>

<p>
  <strong>Nr:</strong>
  <%= @user.nr %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<%= link_to '编辑', edit_user_path(@user) %> |
<%= link_to '返回', users_path %>
